<div class="d-flex mt-4 justify-content-between">
  <h1>Restaurants</h1>
  <%=link_to "Add new restaurant", new_restaurant_path, class:"btn btn-primary"%>
</div>

<div class="cards-grid mt-4 mb-4">
    <% @restaurants.each do|restaurant| %>
    <div class="card_container mt-4 mb-4">
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
    </div>
    <% end %>
</div>
